# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Models (too large for git)
*.pt
*.onnx
*.weights

# Node
dashboard/node_modules/
dashboard/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Storebackend/data/train_data_x.npy 
backend/data/train_data_y.npy 
backend/data/test_data_x.npy 
